@import "variables";
@import "reset";
@import "utility";
@import "mixin";
@import "font";
@import "about";


body{
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}
.container{
  margin: 0 auto;
  max-width: 1920px;
  background-color: white;

  @media (min-width: 1200px) and (max-width:1440px){
  }
  @media (min-width: 768px) and (max-width:1200px){
  }
  @media (max-width: 768px){
    background-color: transparent;
  }
}
.searchbar{}
.iphone-list{
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px 30px 50px 30px;
  @media (max-width: 768px){
    padding: 20px 10px;
  }
}
// LEVEL 1
.iphone{
  padding: 18px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  .content-frame{
    flex-grow: 1;
  }
}

// LEVEL 2
.title-content{
  padding-bottom: 5px;
  margin-bottom: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid $color-border-title;
  font-family: 'Galvji';
  .title{
    font-weight: lighter;
    font-size: 1.3rem;
    color: $text-main;
  }
  .slogan{
    font-weight: 200;
    letter-spacing: 0.3px;
    font-size: .8rem;
    color: $text-second;
  }
}

.ref-content{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 30px 0;
  > * {
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
  }
}


// image
.image{
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.img-frame{
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  img{
    height: 130px;
    display: block;
  }
}


// Main
.main{
  padding: 20px 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.main-item{
  flex-grow: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;
  .label{
    font-size: 0.8rem;
    color: $text-main;
    margin-right: 15px;
  }
  .value{
    color: $magenta;
    font-size: 1.2rem;
    font-family: "LLPixel";
    span{
      margin-right: 15px;
    }
  }
  &.cyan{
    .value{
      color: $color-main;
    }
  }
}

.screen{
  flex-shrink: 0;
}


// DETAIL
.detail{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Galvji';
}
.detail-list{
  margin-right: 30px;
}

.detail-item{
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 7px;
  .detail-item-label{
    @include unselectable;
    @include border-radius(3px);
    color: $text-main;
    cursor: pointer;
  }
  .detail-item-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    letter-spacing: 0.25px;
    margin-left: 15px;
  }
  &:hover{
    .storage, .gradient-blue, .gradient-purple{
      border-color: transparent !important;
    }
    .tip{
      border-color: $color-main;
    }
    .sup{
      color: $color-main;
      display: block;
    }
  }
}

.tip{
  position: relative;
  cursor: pointer;
  padding: 1px 5px;
  @include border-radius(3px);
  border: 1px solid transparent;
  color: $text-value;
  margin-right: 10px;
  &:last-child{
    margin-right: 0;
  }
  .sup{
    border-color: $color-main;
    z-index: 100;
    display: none;
  }
  @media (max-width: 768px){
    margin-right: 10px;
    &.little{
      font-size: inherit;
    }
  }
  &.storage{
    background-color: $bg-storage;
    color: white;
  }
}

.cpu{
  &.active {
    sub,sup{
      color: $magenta;
    }
    .ref-label {
      color: $magenta;
      font-weight: bold;
    }
    .ref-content {
      color: black;
      font-weight: bold;
    }
  }
}
.screen{
  &.active {
    sub,sup{
      color: $green;
    }
    .ref-label {
      color: $green;
      font-weight: bold;
    }
    .ref-content {
      color: black;
      font-weight: bold;
    }
  }
}
.wifi{
  &.active {
    sub,sup{
      color: $blue;
    }
    .ref-label {
      color: $blue;
      font-weight: bold;
    }
    .ref-content {
      color: black;
      font-weight: bold;
    }
  }
}

.sup{
  @include border-radius(3px);
  padding: 0 3px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  transform: translateY(-70%) translateX(70%);
  color: $text-sup;
  background-color: white;
  border: 1px solid $color-border;
}


@media (max-width: 768px){
  body{
    background-color: $color-border;
  }
  .iphone{
    overflow: hidden;
    @include border-radius(5px);
    background-color: white;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid $color-border;
  }
  .title-content{
    border-bottom: none;
    border-bottom: 1px solid $color-border;
    background-color: $bg-highlight;
    padding: 10px 15px;
    justify-content: center;
    .slogan{
      display: none;
    }
  }
  .img-frame{
    display: none;
  }
  .ref-container{
    .block-icon{
      display: none;
    }
    padding: 10px 20px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    .ref-content{
      flex-flow: row wrap;
    }
  }
  .block{
    padding: 0;
    justify-content: flex-start;
  }
}

.gradient{
  background-image: linear-gradient(to bottom right, #363d40, #6a7282);
}

.gradient-blue{
  color: white;
  background-image: linear-gradient(to bottom right, #618BFA, #1CB2F7);
}
.gradient-purple{
  color: white;
  background-image: linear-gradient(to bottom right, #C621FF, #FE3EBA);
}

