<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name='description' content="iPhone参数,iphone参数大全,iPhone详细参数汇总,iPhone参数对比,iPhone所有机型参数大全,iPhone大全,iPhone 12">
    <meta name='keywords' content="iPhone参数,iphone参数大全,iPhone详细参数汇总,iPhone参数对比,iPhone所有机型参数大全,iPhone大全,iPhone 12">
    <title>iPhone 所有机型参数大全</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/iphone_favicon256w.png" type="image/png">
    <link rel="stylesheet" href="scss/iPhone.css?v=20230215100040">
    <link rel="apple-touch-icon" href="img/links/iphone_white@2x.png">

    <meta name="theme-color"
          content="#ffffff"
          media="(prefers-color-scheme: light)">
    <script src="../../lib/js/vue.min.2.6.10.js"></script>
    <script src="../../lib/js/axios.min.js"></script>
    <script src="./js/qr.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" id="app" v-cloak>
    <!--ABOUT-->
    <div class="about gradient">
        <div class="about-header">
            <div class="icon">
                <img style="display: none" src="img/links/iphone_white@2x.png" alt="for 知乎链接图标抓取">
                <img src="img/links/iphone_white@2x.png?v=1" alt="">
            </div>
            <div class="content">
                <h1 class="title">iPhone 参数大全</h1>
                <div class="thumbs-up" @click="thumbsUp">
                    <img v-if="heartActive" src="img/links/heart_active@1x.png?v=2022-09-04" alt="heart">
                    <img v-else src="img/links/heart_inactive@1x.png?v=2022-09-04" alt="heart">
                    <p v-show="thumbsUpCount" class="multiply">×</p>
                    <h3 v-show="thumbsUpCount">{{thumbsUpCount}}</h3>
                </div>
            </div>
        </div>

        <div class="copyright-group">
            <div class="share-links">
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/ipad">
                    <img src="img/links/ipad_white@2x.png?v=2022-09-04" alt="ipad">
                </a>
                <a class="link-item">
                    <img src="img/links/iphone_white@2x.png?v=2022-09-04" alt="phone">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/airpods">
                    <img src="img/links/airpods_white@2x.png?v=2022-09-04" alt="airpods">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/apple-chip">
                    <img src="img/links/chip_white@2x.png?v=2022-09-04" alt="chip">
                </a>
            </div>
            <div class="author-info">
                <p>主页：<a class="link" target="_blank" href="http://kylebing.cn/">kylebing.cn</a></p>
                <p>更新：<a class="link" target="_blank" href="https://en.wikipedia.org/wiki/IPhone">{{dateLastUpdate}}</a></p>
                <p>分享：<span @click="toggleShare">点击扫一扫</span></p>
            </div>

        </div>
    </div>

    <!-- FILTER LIST-->
    <div class="filter-list">
        <div class="iphone-tag-list">
            <div :class="['iphone-tag', {active: selectedNames.includes(item.name)}]"
                 v-for="item in iphonesOrigin" :key="item.name_short"
                 @click="filterTagToggle(item.name)"
            >{{item.name_short}}</div>
        </div>
    </div>

    <!--CONTENT-->
    <div class="iphone-list">
        <div class="iphone" v-for="(iphone, index) in iphones" :key="index">
            <div class="title-content">
                <div>
                    <div :class="['title', {'is-new': iphone.isNew}]">{{iphone.name}}</div>
                    <div class="score-bar" v-if="iphone.geekbenchScore.multi">
                        <div class="bar" :style="`width: ${iphone.geekbenchScore.multi / maxScore * 100}px`"></div>
                        <div class="score">{{iphone.geekbenchScore.multi}}</div>
                    </div>
                </div>
                <div class="slogan">{{iphone.slogan}}</div>
            </div>

            <div class="ref-content" v-if="!iphone.isTitleOnly">
                <section class="main">
                    <div class="image">
                        <div class="img-frame">
                            <img :src="`img/iphone/${iphone.pic}.png`" alt="icon">
                        </div>
                    </div>
                    <div class="main-ref">
                        <div class="main-ref-item">
                            <div class="label">CPU</div>
                            <div class="value magenta">
                                <span class="mr-3">{{iphone.cpu.model}}</span>
                                <span v-if="iphone.cpu.rate">{{iphone.cpu.rate}} <i class="multiply">×</i> {{iphone.cpu.core}}</span>
                                <span v-else>-</span>
                            </div>
                        </div>

                        <div class="main-ref-item">
                            <div class="label">GPU</div>
                            <div class="value cyan">
                                <span>{{iphone.gpu.model || '-'}}</span>
                                <span v-if="iphone.gpu.core"><i class="multiply">×</i> {{iphone.gpu.core}}</span>
                            </div>
                        </div>
                        <div class="main-ref-item">
                            <div class="label">内存</div>
                            <div class="value" v-if="iphone.memory.length > 0" v-for="memory in iphone.memory">
                                <span class="mr-2">{{memory.size}}GB</span>
                                <span class="little">{{memory.type}}</span>
                            </div>
                            <div class="value" v-if="iphone.memory.length === 0">
                                <div class="title">-</div>
                            </div>
                        </div>
                        <div class="main-ref-item">
                            <div class="label">颜色</div>
                            <div class="value">
                                <div class="colors">
                                    <div class="color" :title="colorItem.name" v-for="colorItem in iphone.colors" :style="`background-color: ${colorItem.color}`"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="screen">
                    <svg width="100%" viewBox="0 0 535 270" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="screen" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="screenMesure" transform="translate(0.000000, 46.500000)">
                                <text id="height" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" fill="#000000">
                                    <tspan x="0.4" y="94">{{iphone.height}}</tspan>
                                </text>
                                <text id="thickness" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" fill="#000000">
                                    <tspan x="209.77" y="176">{{iphone.thickness}}</tspan>
                                </text>
                                <rect id="iphone-outside" stroke="#B1B1B1" fill="#D8D8D8" x="96" y="0" width="77" height="153" rx="11"></rect>
                                <rect id="iphone-inside" stroke="#3D3D40" fill="#FFFFFF" x="87" y="9" width="77" height="153" rx="11"></rect>
                                <g id="ruler-/-vitical-" transform="translate(66.000000, 9.000000)" fill="#00A5FF">
                                    <rect id="iphone-line" x="0" y="0" width="8" height="2"></rect>
                                    <rect id="iphone-line" x="3" y="2" width="2" height="149"></rect>
                                    <rect id="iphone-line" x="0" y="151" width="8" height="2"></rect>
                                </g>
                                <g id="ruler-/-vitical--copy" transform="translate(87.000000, 172.000000)" fill="#00A5FF">
                                    <rect id="Rectangle" x="0" y="0" width="2" height="8"></rect>
                                    <rect id="iphone-line" x="75" y="0" width="2" height="8"></rect>
                                    <rect id="iphone-line" x="2" y="3" width="73" height="2"></rect>
                                </g>
                                <g id="Group-3" transform="translate(177.500000, 162.000000) rotate(-45.000000) translate(-177.500000, -162.000000) translate(169.000000, 158.000000)" fill="#00A5FF">
                                    <rect id="Rectangle" x="0" y="0" width="2" height="8"></rect>
                                    <rect id="iphone-line" x="15" y="0" width="2" height="8"></rect>
                                    <rect id="iphone-line" x="2" y="3" width="13" height="2"></rect>
                                </g>
                                <text id="width" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" fill="#000000">
                                    <tspan x="107.19" y="215">{{iphone.width}}</tspan>
                                </text>
                            </g>
                            <g id="screenPx" transform="translate(303.194846, 55.065109)">
                                <text id="heightPX" opacity="0.779999971" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" fill="#000000">
                                    <tspan x="1.26515405" y="85.434891">{{iphone.screen.height}}</tspan>
                                </text>
                                <rect id="iphone-inch" stroke="#3D3D40" fill="#FFFFFF" x="85.8051541" y="0.434890986" width="77" height="153" rx="11"></rect>
                                <rect id="Rectangle" fill="#FFFFFF" x="138.805154" y="53.434891" width="92" height="58" rx="5"></rect>
                                <text id="inch" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" line-spacing="25" fill="#000000">
                                    <tspan x="149.305154" y="78.434891">{{iphone.screen.size}} 寸</tspan>
                                </text>
                                <text id="density" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" line-spacing="25" fill="#000000">
                                    <tspan x="147.805154" y="103.434891">{{iphone.screen.density}} dpi</tspan>
                                </text>
                                <g id="ruler-/-vitical-" transform="translate(64.805154, 0.434891)" fill="#00A5FF">
                                    <rect id="iphone-line" x="0" y="0" width="8" height="2"></rect>
                                    <rect id="iphone-line" x="3" y="2" width="2" height="149"></rect>
                                    <rect id="iphone-line" x="0" y="151" width="8" height="2"></rect>
                                </g>
                                <g id="ruler-/-vitical--copy" transform="translate(85.805154, 163.434891)" fill="#00A5FF">
                                    <rect id="iphone-line" x="0" y="0" width="2" height="8"></rect>
                                    <rect id="iphone-line" x="75" y="0" width="2" height="8"></rect>
                                    <rect id="iphone-line" x="2" y="3" width="73" height="2"></rect>
                                </g>
                                <rect id="Rectangle" fill="#00A5FF" transform="translate(90.805154, 152.434891) rotate(-66.000000) translate(-90.805154, -152.434891) " x="89.8051541" y="148.434891" width="2" height="8"></rect>
                                <rect id="iphone-line" fill="#00A5FF" transform="translate(157.805154, 3.434891) rotate(-66.000000) translate(-157.805154, -3.434891) " x="156.805154" y="-0.565109014" width="2" height="8"></rect>
                                <rect id="iphone-line" fill="#00A5FF" transform="translate(124.805154, 77.434891) rotate(-66.000000) translate(-124.805154, -77.434891) " x="43.8051541" y="76.434891" width="162" height="2"></rect>
                                <text id="widthPX" font-family="PingFangSC-Medium, PingFang SC" font-size="20" font-weight="400" fill="#000000">
                                    <tspan x="102.225154" y="206.434891">{{iphone.screen.width}}</tspan>
                                </text>
                            </g>
                            <text id="screenType" font-family="Galvji-Bold, Galvji" font-size="20" font-weight="bold" fill="#404040">
                                <tspan x="216.020508" y="19">{{iphone.screen.type}}</tspan>
                            </text>
                            <text v-if="iphone.screen.brightness" id="screenLight" font-family="Galvji" font-size="15" font-weight="normal" fill="#404040">
                                <tspan x="216.020508" y="41">{{iphone.screen.brightness}} cd/㎡</tspan>
                            </text>
                            <text v-if="iphone.screen.refreshRate" id="screenRate" font-family="Galvji" font-size="15" font-weight="normal" fill="#404040">
                                <tspan x="216.020508" y="64">{{iphone.screen.refreshRate}} hz</tspan>
                            </text>
                            <text v-if="iphone.screen.touch3D" id="touch3D" font-family="PingFangSC-Semibold, PingFang SC" font-size="15" font-weight="500" fill="#404040">
                                <tspan x="111" y="155">压感</tspan>
                            </text>
                            <text v-if="iphone.screen.hdr" id="HDR" font-family="PingFangSC-Semibold, PingFang SC" font-size="15" font-weight="500" fill="#404040">
                                <tspan x="109.8525" y="127">HDR</tspan>
                            </text>
                        </g>
                    </svg>

                </section>
                <section class="detail">
                    <div class="detail-list">
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'storage')}]">
                            <div @click="tagToggle('storage')" class="detail-item-label">存储</div>
                            <div class="detail-item-content">
                                <div class="tip storage" v-for="(item, index) in iphone.storage" :key="index">
                                    <template v-if="isNaN(item)">
                                        <div>
                                            {{item}}
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div v-if="item < 1000">
                                            {{item}}
                                            <span class="sup">GB</span>
                                        </div>
                                        <div v-else>
                                            {{item / 1024}}
                                            <span class="sup">TB</span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'date')}]">
                            <div @click="tagToggle('date')" class="detail-item-label">日期</div>
                            <div class="detail-item-content">
                                <div class="tip">{{iphone.release}}</div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'weight')}]">
                            <div @click="tagToggle('weight')" class="detail-item-label">重量</div>
                            <div class="detail-item-content">
                                <div class="tip">{{iphone.weight}} g</div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'battery')}]">
                            <div @click="tagToggle('battery')" class="detail-item-label">电池</div>
                            <div class="detail-item-content">
                                <div class="tip" v-if="iphone.battery">{{iphone.battery}} mah</div>
                                <div class="tip" v-else>-</div>
                            </div>
                        </div>

                        <div class="detail-item" :class="[{active: tags.some(item => item === 'sim')}]">
                            <div @click="tagToggle('sim')" class="detail-item-label">SIM</div>
                            <div class="detail-item-content">
                                <div class="sim-item" v-for="(sim, index) in iphone.sim" :key="index">
                                    <div class="name">{{sim.name}}</div>
                                    <div class="type">{{sim.type || '单卡'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-list">
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'os')}]">
                            <div @click="tagToggle('os')" class="detail-item-label">系统</div>
                            <div class="detail-item-content">
                                <div class="tip gradient-purple">{{iphone.os.init}} <span class="sup">初始</span></div>
                                <div class="tip gradient-blue">{{iphone.os.last}} <span class="sup">最后</span></div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'connection')}]">
                            <div @click="tagToggle('connection')" class="detail-item-label">连接</div>
                            <div class="detail-item-content" v-if="iphone.connectivity.length">
                                <div class="tip" v-for="(item, index) in iphone.connectivity">{{item}}</div>
                            </div>
                            <div class="detail-item-content" v-else>
                                <div class="tip">-</div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'port')}]">
                            <div @click="tagToggle('port')" class="detail-item-label">接口</div>
                            <div class="detail-item-content">
                                <div class="tip">{{iphone.port}}</div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'prove')}]">
                            <div @click="tagToggle('prove')" class="detail-item-label">防水</div>
                            <div class="detail-item-content">
                                <div class="tip">{{iphone.prove || '-'}}</div>
                            </div>
                        </div>
                        <div class="detail-item" :class="[{active: tags.some(item => item === 'model')}]">
                            <div @click="tagToggle('model')" class="detail-item-label">型号</div>
                            <div class="detail-item-content" v-if="iphone.models.length">
                                <div class="sim-item" v-for="(model, index) in iphone.models" :key="index">
                                    <div class="name">{{model.name}}</div>
                                    <div class="type">{{model.type}}</div>
                                </div>
                            </div>
                            <div class="detail-item-content" v-else>
                                <div class="tip">-</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <!--    分享 -->
    <div class="help-container" v-show="showShare" :style="`height: ${insets.height}px`">
        <div class="help">
            <div class="help-header">
                <h3>扫一扫</h3>
            </div>
            <div class="help-body">
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCode" alt="qr">
                    </div>
                    <p>当前页</p>
                </div>
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCodeQQ" alt="qr">
                    </div>
                    <p>QQ群</p>
                </div>
            </div>
            <div class="help-footer">
                <div class="operation-btn" @click="toggleShare">关闭</div>
            </div>
        </div>
    </div>


    <footer>
        <p>2020.10.20 ~ {{dateLastUpdate}}</p>
        <p><a class="link" target="_blank" href="https://github.com/KyleBing/iphone">https://github.com/KyleBing/iphone</a></p>
    </footer>

</div>

<script src="js/iPhone.js?v=20230215100040"></script>
<script>
    setTimeout(() => {
        if (!/^http:\/\/(a\.kylebing\.cn|localhost|192\.168\.\d{1,3}\.\d{1,3})/i.test(location.href)) {
            let hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d7bb69bd69175804550d93954dad56f0";
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    }, 1000)
</script>


</body>
</html>
