@font-face {
  font-family: "Impact";
  src: url("~@/scss/font/ImpactPureNumber.ttf");
}


@font-face {
  font-family: "LLPixel";
  src: url("~@/scss/font/LLPixel_only_Letter.ttf");
}

@font-face {
  font-family: "Galvji";
  src: url("~@/scss/font/Galvji.ttf");
}


.impact{
  font-family: 'Impact', sans-serif !important;
}
