@import "plugin";
@import "gutter";
@import "font";
@import "changelog";
@import "help";
@import "animate";

body{
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}


.iphone-list{
  background-color: white;
  margin: 0 auto;
  //max-width: 1500px;
  padding: 0 30px 0 30px;
  @media (max-width: 768px){
    padding: 20px 10px;
  }
}
// LEVEL 1
.iphone{
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  .content-frame{
    flex-grow: 1;
  }
}

.ref-content{
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 80px 0;
  > * {
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
  }
}


// Main
.main{
  flex-shrink: 0;  display: flex;
  flex-flow: row nowrap;
}



.main-ref{
  padding: 5px 0;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.main-ref-item{
  padding: 6px 0;
  flex-grow: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;
  .label{
    font-size: $fz-m;
    color: $text-main;
    margin-right: 15px;
  }
  .value{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "LLPixel", sans-serif;
    color: $text-main;
    span.little{
      font-size: 1rem;
    }
    &.cyan{
      color: $cyan;
    }
    &.magenta{
      color: $magenta;
    }
    &.green{
      color: $green;
    }
  }

}
.multiply{
  font-style: normal;
  font-family: 'Galvji', sans-serif !important;
}

.screen{
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


// DETAIL
.detail{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Galvji', sans-serif;
}
.detail-list{
  margin-right: 30px;
}

.detail-item{
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 7px;
  &:last-child{
    margin-bottom: 0;
  }
  &.active{
    .detail-item-label{
      font-weight: bold;
      color: $magenta;
    }
    .detail-item-content{
      .tip{
        padding: 1px 5px;
        background-color: $magenta;
        color: white;
        .sup{
          color: $magenta;
          display: block;
        }
      }
    }
    .sim-item{
      background-color: $magenta;
      .name,.type{
        color: white;
      }
    }
  }
  .detail-item-label{
    @include unselectable;
    @include border-radius($radius);
    color: $text-main;
    cursor: pointer;
  }
  .detail-item-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    letter-spacing: 0.25px;
    margin-left: 15px;
  }
  &:hover{
    .tip{
    }
    .sup{
      color: $color-main;
      display: block;
    }
  }
}



.tip{
  text-align: center;
  font-family: sans-serif;
  min-width: 30px;
  position: relative;
  cursor: pointer;
  padding: 1px 5px;
  @include border-radius($radius);
  color: $text-value;
  margin-right: 5px;
  &:hover{
    color: $color-main;
    background-color: transparentize($color-main, 0.95);
  }
  &:last-child{
    margin-right: 0;
  }
  .sup{
    border-color: $color-main;
    z-index: 100;
    display: none;
  }
  &.storage{
    border-color: transparent !important;
    background-color: $bg-storage;
    color: white;
  }
}

.cpu{
  &.active {
    sub,sup{
      color: $magenta;
    }
    .ref-label {
      color: $magenta;
      font-weight: bold;
    }
    .ref-content {
      color: black;
      font-weight: bold;
    }
  }
}



.colors{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .color{
    border: 1px solid transparentize(black, 0.95);
    margin-right: 5px;
    margin-bottom: 3px;
    width: 20px;
    height: 20px;
    &:hover{
      border-color: $color-main;
    }
  }
}

.screen{
  &.active {
    sub,sup{
      color: $green;
    }
    .ref-label {
      color: $green;
      font-weight: bold;
    }
    .ref-content {
      color: black;
      font-weight: bold;
    }
  }
}
.wifi{
  &.active {
    sub,sup{
      color: $blue;
    }
    .ref-label {
      color: $blue;
      font-weight: bold;
    }
    .ref-content {
      color: black;
      font-weight: bold;
    }
  }
}

.sup{
  @include border-radius($radius);
  padding: 0 3px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  transform: translateY(-70%) translateX(70%);
  color: $text-sup;
  background-color: white;
  border: 1px solid $color-border;
}

.camera {
  flex-grow: 2;
  display: flex;
  align-items: center;
  svg{
    height: 190px;
  }
}


@import "layout";
@import "svg";
@import "dark";
@import "markdown";
