.container{
  margin: 0 auto;
  max-width: 1920px;
  background-color: white;
  @media (max-width: 450px){
    body{
      background-color: $color-border;
    }
    .iphone{
      overflow: hidden;
      @include border-radius(15px);
      background-color: white;
      margin-bottom: 40px;
      padding: 0;
      border: 1px solid $color-border;
    }
    .ref-content{
      padding: 15px;
      flex-flow: column nowrap;
      > *{
        margin-right: 0;
        border-bottom: 1px solid $color-border;
        &:last-child{
          border-bottom: none;
        }
      }
    }
    .main{
      padding-bottom: 20px;
      display: flex;
      flex-flow: column nowrap;

      .main-ref{
        margin-top: 20px;
        padding: 0;
        &-item{
          padding: 5px 0;
          margin-bottom: 5px;
        }
      }
    }
    .screen{
      padding: 20px;
    }

    .detail{
      width: 100%;
      overflow-x: auto;
      padding: 20px 0;
      flex-flow: column nowrap;
      &-list{
        margin-right: 0;
        width: 100%;
      }
    }

    .camera{
      width: 100%;
      padding: 20px 0;
      svg{
        width: 100%;
      }
    }

    background-color: transparent;
  }
}
